*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: #88B04B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  width: 50%;
  height: 250px;
  background-color: white;
 
}